
/* font-family: "calendula", sans-serif; */
@import url("https://use.typekit.net/dkp4yoj.css");


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "calendula", sans-serif;
    background-color: #fff9ef;
}


header {
    /* background-color: #f2951f; */
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

header h2 {
    justify-content: center;
    color: #ed6a12;
    
}

header i {
    color: #ed6a12;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: #fab029;
    border-radius: 30px;
    padding: 15px 50px;
    margin: 0 45px;
    bottom: 40px;
    position: sticky;
    z-index: 9999;
    font-size: 25px;
    box-shadow: 0 10px 30px rgba(250, 176, 0, 0.4)
    
}

nav a {
    text-decoration: none;
}

i {
    color: #FFFFFF;
    cursor: pointer;
}


/* HOME  */

.hero img {
    width: 100%;
}

.welcome h1 {
    text-align: center;
    color: #ed6a12;
}

.welcome p {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 60px;
    font-size: 22px;
    color: #a39e98;
}


/* MENU  */



.search-bar {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1px px;
    margin: 10px 0px;
    margin-left: 40px;
    margin-right: 45px;
    border-radius: 20px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.05)
}

.search-bar i {
    padding-left: 15px;
    color: #ed6a12;
}

.search-bar p {
    color: #a39e98;
}

.food-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}


.food-item {
    width: 50%;
    margin-bottom: 40px;
}


.food-item h3 {
    margin-bottom: 5px;
    font-weight: bolder;
    color: #ed6a12;
    font-weight: bolder;
}


.food-item p {
    padding-top: 0px;
    margin-top: 0px;
    font-weight: 100;
    color: #a39e98;
}

.food-item img {
    width: 80%;
    height: auto;
}


/* FOOD ITEM */

.food-hero-container {
    width: 100%;
    position: relative;
}

.food-hero-container img{
    width: auto;
    height: 350px;
}

.overlay-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overlay-buttons i {
    color: #fff9ef;
    margin-top: 40px;
    font-size: 25px;
}

.food-info-container {
    display: flex;
    margin: 0px 50px;
    margin-bottom: 40px;
    
}

.food-info-container h1 {
    color: #ed6a12;
    margin-bottom: 15px;
}

.food-left i {
    color: #f2951f;
}

.food-info-container p {
    font-size: 20px;
    color: #a39e98;
}

.food-right p {
    font-weight: 800;
    font-size: 50px;
    color: #ed6a12;
    margin-top: 20px;
}

.food-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 50px;
    align-items: center;
}

.quantity-selector {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.quantity-selector button {
    padding: 2px 15px;
    font-size: 45px;
    border: none;
    border-radius: 15px;
    background-color: #f2951f;
    color: white;
}

.quantity-selector p {
    font-size: 45px;
    color: #f2951f;
}

.add-to-cart {
    position: fixed;
    bottom: 0;
    margin-bottom: 75px;
    margin-left: 210px;
}

.add-to-cart i{
    background-color: #f2951f;
    border-radius: 35px;
    padding: 20px 60px;
    font-size: 45px;
}


/* LOCATION  */

.location {
    position: relative;
    margin-left: 50px;
    width: 400px;
}

.location img {
    width: 96%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.zoom {
    position: absolute;
    border: none;
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 87%;
    bottom: 28%;
}

.description {
    margin-top: 40px;
    margin-bottom: 20px;
}

.description i {
    color: #ed6a12;
    font-size: 25px;
}

.description span {
    color: #a39e98;
}

.description h3 {
    margin-left: 34px;
    margin-top: 10px;
    color: #ed6a12;
}


.hours {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
}

.hours h1 {
    color: #ed6a12;
}

.hours-bar {
    background-color: #ffe8c2;
    color: #ffbb7e;
    margin: 25px 70px;
    padding: 20px 50px;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hours span{
    font-weight: 900;
}

/* CART */

.orderheader {
    margin-left: 50px;
    color: #ed6a12;
}


.food-order {
    margin: 25px 50px;
}


.order-left img {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.order-right {
    overflow: hidden;
}

.order-right h3 {
    margin-top: 0;
    color: #ed6a12;
}

.order-right p {
    font-size: 13px;
    color: #a39e98;
}

.quantity-selector2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 40%;
    margin-top: 18px;
}
       
.quantity-selector2 button {
    color: #FFFFFF;
    background-color: #f2951f;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 2px 12px;
    cursor: pointer;
}

.quantity-selector2 p{
    font-size: 30px;
    margin: 0px 15px;
    color: #f2951f;
}

.payment-info {
    margin: 35px 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffe8c2;
    padding: 30px;
    border-radius: 30px;
}

.text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #ffbb7e;
}

.total {
    font-size: 30px;
    font-weight: 600;
    color: #ed6a12;
}

.order {
    background-color: #f2951f;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin: 0px 70px;
    margin-bottom: 15px;
    bottom: 40px;
    padding: 20px 50px;
    border-radius: 50px;
    position: sticky;
    cursor: pointer;
}


   
